---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const offers = await getCollection('offers');

const items = [
	['Masaż', '1 x 45min', '150zł'],
	['Masaż', '1 x 60min', '200zł'],
	['Pakiet masaży (ważny 1 miesiąc)', '4 x 45min', '150zł za masaż'],
	['Access Bars', '1 x 90min', '250zł'],
];
---

<div class="scroll-mt-6 bg-blue-50 p-4" id="offer">
	<div class="mx-auto flex max-w-[1024px] flex-col justify-center gap-4 p-8">
		<h1 class="text-center text-2xl font-bold">Moja oferta</h1>
		<table class="flex-none self-start">
			<thead class="border-b">
				<tr>
					<th class="text-left font-semibold">Nazwa</th>
					<th class="text-left font-semibold">Ilość</th>
					<th class="text-left font-semibold">Cena</th>
				</tr>
			</thead>
			<tbody>
				{
					items.map((row) => (
						<tr class="even:bg-slate-200">
							{row.map((item) => (
								<td class="p-2 text-left">{item}</td>
							))}
						</tr>
					))
				}
			</tbody>
		</table>
	</div>
	<ul class="flex snap-x snap-proximity gap-8 overflow-x-scroll">
		{
			offers.map((offer) => (
				<a href={`/offers/${offer.slug}`} class="w-full bg-slate-50">
					<li class="w-72 snap-center">
						<Image
							src={offer.data.icon}
							alt={offer.data.title}
							class="w-full max-w-none"
						/>
						<p class="p-8 text-center">{offer.data.title}</p>
					</li>
				</a>
			))
		}
	</ul>
</div>
